{{# each products}}
  <div class="row">
    {{# each this }}
        <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img class="img-responsive" src="{{ this.imagePath }}" alt="..." >
          <div class="caption">
            <h3>{{ this.title }}</h3>
            <p class="description">{{ this.description }} </p>
            <div class="clearfix"> 
                <div class="price pull-left">${{ this.price }}</div> 
                <a href="#" class="btn btn-success pull-right" role="button">Add to cart</a>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{/each}}

{{!-- <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="https://media.gettyimages.com/photos/dhoni-of-india-celebrates-his-century-during-
      the-2011-icc-world-cup-picture-id109175269?s=612x612" alt="..." >
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Mahendra Singh Dhoni (About this soundpronunciation (help·info); commonly known as MS 
            Dhoni; born July 7, 1981) is an Indian international cricketer who captained the Indian 
            national team in limited-overs formats from 2007 to 2016 and in Test cricket from 2008 
            to 2014. </p>
        <div class="clearfix"> 
            <div class="price pull-left">$12</div> 
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>

   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="https://media.gettyimages.com/photos/dhoni-of-india-celebrates-his-century-during-
      the-2011-icc-world-cup-picture-id109175269?s=612x612" alt="..." >
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Mahendra Singh Dhoni (About this soundpronunciation (help·info); commonly known as MS 
            Dhoni; born July 7, 1981) is an Indian international cricketer who captained the Indian 
            national team in limited-overs formats from 2007 to 2016 and in Test cricket from 2008 
            to 2014. </p>
        <div class="clearfix"> 
            <div class="price pull-left">$12</div> 
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>

   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="https://media.gettyimages.com/photos/dhoni-of-india-celebrates-his-century-during-
      the-2011-icc-world-cup-picture-id109175269?s=612x612" alt="..." >
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Mahendra Singh Dhoni (About this soundpronunciation (help·info); commonly known as MS 
            Dhoni; born July 7, 1981) is an Indian international cricketer who captained the Indian 
            national team in limited-overs formats from 2007 to 2016 and in Test cricket from 2008 
            to 2014. </p>
        <div class="clearfix"> 
            <div class="price pull-left">$12</div> 
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="https://media.gettyimages.com/photos/dhoni-of-india-celebrates-his-century-during-
      the-2011-icc-world-cup-picture-id109175269?s=612x612" alt="..." >
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Mahendra Singh Dhoni (About this soundpronunciation (help·info); commonly known as MS 
            Dhoni; born July 7, 1981) is an Indian international cricketer who captained the Indian 
            national team in limited-overs formats from 2007 to 2016 and in Test cricket from 2008 
            to 2014. </p>
        <div class="clearfix"> 
            <div class="price pull-left">$12</div> 
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>

   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="https://media.gettyimages.com/photos/dhoni-of-india-celebrates-his-century-during-
      the-2011-icc-world-cup-picture-id109175269?s=612x612" alt="..." >
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Mahendra Singh Dhoni (About this soundpronunciation (help·info); commonly known as MS 
            Dhoni; born July 7, 1981) is an Indian international cricketer who captained the Indian 
            national team in limited-overs formats from 2007 to 2016 and in Test cricket from 2008 
            to 2014. </p>
        <div class="clearfix"> 
            <div class="price pull-left">$12</div> 
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>

   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="https://media.gettyimages.com/photos/dhoni-of-india-celebrates-his-century-during-
      the-2011-icc-world-cup-picture-id109175269?s=612x612" alt="..." >
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Mahendra Singh Dhoni (About this soundpronunciation (help·info); commonly known as MS 
            Dhoni; born July 7, 1981) is an Indian international cricketer who captained the Indian 
            national team in limited-overs formats from 2007 to 2016 and in Test cricket from 2008 
            to 2014. </p>
        <div class="clearfix"> 
            <div class="price pull-left">$12</div> 
            <a href="#" class="btn btn-success pull-right" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
</div> --}}